@using ShopApplication.Data.Models
@model IEnumerable<Book>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>
    <h2>Все книги</h2>
    @{
        foreach(var book in Model){
            <div>
                <h2>Название: @book.name</h2>
                <p>Цена: @book.price.ToString("c")</p>
            </div>
        }
    }
</body>
</html>
