<h1>Все книги</h1>
<h3>@Model.currCategory</h3>
@{
    foreach (var b in Model.allBooks)
    {
        <div>
            <h2>Название: @b.name</h2>
            <p>Цена: @b.price.ToString("c")</p>
        </div>
    }
}
